<div ng-app="myApp" ng-controller="ctrlUser">
    <div class="header">
        <!-- <a href="#default" class="logo" style="color:white;">facebook</a> -->
        <div class="header-right">
          <form role="form">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email" ng-model="user.email">
            </div>
            
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password">
            </div>
            <button class="btn btn-success"  type="submit" name="done"  ng-click="save(user)"> Save </button><br>
          </br>
            <button class="btn btn-success"  type="submit" name="done"  ng-click="login(user)"> login </button><br>

          </form>
    
          <div class="container">
                <div class="col-lg-12"><br>
            
           
            
            
                  
                  </table>
            
                </div>
                
            
               </div>
    
          </div>
          </div>
          </div>